.outros-produtos {
  display: flex;
  align-items: center;
  flex-direction: column;

  padding-top: 2.5rem;

  background-color: var(--laranja);
}

.outros-produtos__titulo {
  color: var(--branco);
  font-size: 1.75rem;
  font-weight: 600;
  letter-spacing: 0.25rem;
  text-decoration: uppercase;

  margin-bottom: 2rem;
}
